* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white
}

body {
    background-color: rgba(0,0,0, 0.8);
}

input {
    color: black
}

button {
    color: black
}

label {
    color: black
}

/* Navigation */

.nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

.nav_bar a {
    margin: 40px
}

/* Register */

.register {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.register_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px
}

.register_form input {
    margin: 20px 0;
    width: 300px
}

.register_form {
    text-align: start;
    
}
/* Balance */

.balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.balance_meter {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}



.expense_button {
    margin-top: 20px;
    outline: none;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(124, 124, 235);
}
.expense_button:active {
    background-color: blueviolet;
}

.new_expense {
    position: fixed;
    top: 50%;
    right: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 1000px;
    height: 100px;
    transform: translate(50%, -50%);
}

/* Balance Meter */

.balance_meter {
    background: none;
}

/* List of operations */

.operations_list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    
}